* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  background: #f0f2f4;
}

/* Header Section starts here */

#headerSection {
  width: 100%;
  background: linear-gradient(to bottom right, #017ec1, #3e806f);
}

.header {
  display: flex;
  flex-wrap: wrap;
}

.logo {
  flex-basis: 18%;
}

.search {
  flex-basis: 60%;
}

.links {
  flex-basis: 20%;
}

.logo {
  margin: 2px;
  padding: 4px;
  display: flex;
  justify-content: center;
}

.logo img {
  height: 6rem;
  width: 6rem;
  border-radius: 88px;
}

.logo img:hover {
  filter: drop-shadow(1px 1px 8px white);
  transition: 1s ease;
}

#headerSection .search {
  display: flex;
  align-items: center;
  justify-content: center;
}

.search span {
  height: 35%;
  width: 100%;
}

.search span img {
  position: absolute;
  margin: 8px 0px 0px 4px;
}

.search span > input {
  /* border-radius: 20px; */
  height: 100%;
  width: 100%;
  border: white;
  padding: 0 0px 0 33px;
  border-bottom: 1px solid rgb(235 235 235);
}

.search span > input::placeholder {
  color: #999;
  font-size: 14px;
  text-transform: capitalize;
}

.links {
  display: flex;
  justify-content: center;
  align-items: center;
}

.links a {
  text-decoration: none;
  color: white;
  padding: 4px;
  margin: 6px;
}

.links a:hover {
  background: #fff;
  color: black;
  border-radius: 8px;
}

/* Header Section ends here */

/* Card Section starts Here */

#loginSection {
  justify-content: center;
  width: 98%;
  margin: 10px auto;
  padding: 10px;
  display: flex;
  height: 100%;
}

#loginSection .card {
  background: #fff;
  box-shadow: 1px 1px 4px 1px #ccc;
  border-radius: 15px;
  margin: 10px;
  display: flex;
  width: 531px;
  height: 465px;
  align-items: center;
  justify-content: center;
  transition: 2s ease;
}

#loginSection .card h1 {
  display: flex;
  position: absolute;
  align-self: flex-start;
  margin-top: 30px;
}

#loginSection .card form {
  display: flex;
  flex-direction: column;
  width: 95%;
}

#loginSection .card label {
  padding: 14px 0px;
}

#loginSection .card input {
  padding: 8px 0px;
}

#loginSection .card button {
  margin: 15px 0px;
  padding: 5px 0px;
  font-weight: 400;
}

p {
  margin: 8px 0px 0px;
  align-self: flex-end;
}

#loginSection .card .fp a {
  text-decoration: none;
  color: red;
}

a {
  text-decoration: none;
}

span {
  margin: 10px 0px;
}

span input {
  margin: 0px 6px 0px 0px;
}
